<h2>Your Cart</h2>

<div *ngIf="cartItems.length === 0">
  <p>Your cart is empty.</p>
</div>

<div *ngIf="cartItems.length > 0">
    <ul>
        <li *ngFor="let item of cartItems; let i = index" style="display: flex; align-items: center; margin-bottom: 10px;">
          <img [src]="item.image" alt="{{item.name}}" width="60" height="60" style="margin-right: 10px;">
          <div style="flex-grow: 1;">
            <div>{{ item.name }}</div>
            <div>₹{{ item.price }}</div>
          </div>
          <div style="display: flex; align-items: center; gap: 8px;">
  <button class="qty-btn" (click)="decreaseQuantity(item)">−</button>
  <span>{{ item.quantity }}</span>
  <button class="qty-btn" (click)="increaseQuantity(item)">+</button>
</div>

          <button (click)="removeItem(i)">Remove</button>
        </li>
      </ul>
      

 <div class="cart-total" style="margin-top: 20px; font-weight: bold;">
  Total: ₹{{ totalPrice | number:'1.2-2' }}
</div>

  <button (click)="clearCart()">Clear Cart</button>
</div>
